body {
    background-color: rgb(227, 233, 228);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    text-align: center;
}

h2 {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#menu {
    width: 100%;
    border: none;
    background-color: rgb(199, 184, 184);
}

#menuList {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-flex;
    float: left;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bild img {
    width: 100%;
    height: auto;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    height: 25px;
    vertical-align: middle;
}

.table {
    display: block;
    align-content: center;
    border-collapse: collapse;
}

.b {
    height: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.select {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 15px;
    text-align: center;
}

#datum {
    height: auto;
    font-size: 15px;
    text-align: right;
    margin: 5px;
}

#suchCountry {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chart {
    width: 100%;
    max-width: 600px;
    margin: auto;
}